<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="favicon.ico" />

<title>Signin Template for Bootstrap</title>

<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" />

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="css/signin.css" rel="stylesheet" />


<div class="container">

	<h:form class="form-signin">
		<h2 class="form-signin-heading">
			<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
			Please sign in
		</h2>
		<h:outputLabel for="inputEmail" class="sr-only">Email address</h:outputLabel>
		<h:inputText type="email" id="inputEmail" class="form-control"
			placeholder="Email address" value="#{employeController.login}" />
		<h:outputLabel for="inputPassword" class="sr-only">Password</h:outputLabel>
		<h:inputSecret type="password" id="inputPassword" class="form-control"
			placeholder="Password" value="#{employeController.password}" />
		<div class="checkbox">





			<h:selectBooleanCheckbox type="checkbox" value="remember-me"> Remember me </h:selectBooleanCheckbox>

		</div>
		<h:commandButton id="btn" value="Sign in"
			class="btn btn-lg btn-primary btn-block"
			action="#{employeController.dologin}" />

	</h:form>

</div>
<!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>


</html>